body{
    background-image: linear-gradient(rgb(1, 122, 11), rgb(31, 127, 123));
    height: 100vh;
    }
.logo{
    display: block;
    width:140px;
    height:100px;
    margin: auto;
}
h1{
    color:black;
    margin-top: 2px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container{
border: 2px solid black;
max-width: 700px;
display: block;
margin: auto;
height: 60vh;  
padding:33px;
overflow-y:scroll;
margin-bottom: 3px;
border-radius:1rem;
}
.message{
background-color: grey;
padding: 10px;
width: 24%;
margin: 17px;
border: 2px solid black;
border-radius: 10px;
}
.left{
clear: both;
float: left;
}
.right{
clear: both;
float: right;

}   
#send-container{
text-align: center;
max-width: 875px;
width: 100%;
display: block;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
}
#messageInp{
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 5px;
    width: 75%;
    border: 2px solid black;
    height: 34px;
    border-radius: 10px;
}
.btn{
    margin: 4px;
    width: 10%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    height: 34px;
}